section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 650px;
  border-radius: 25px;
  background-color: beige;
  margin: 10px;
  padding: 20px;
}
.card div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.card div:nth-child(2) {
  display: flex;
}
.card img {
  width: 250px;
  height: 250px;
}

.btn {
  border: none;
  background-color: rgb(116, 203, 116);
  border-radius: 8px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}
